.his-grid {
  color: inherit;
  span {
    font-weight: 700;
    padding-right: 5px;
  }

  .grid-i-his-card {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .payment {
    color: white;
    font-weight: 500;
    background-color: #25aa29;
    padding: 3px 20px;
    width: fit-content;
    border-radius: 13px;
  }
  .payment.not {
    background-color: #bc0707;
  }
}

@media screen and (max-width: 600px) {
  .grid-i-his-card {
    justify-content: center;
  }
}
