* {
  margin: 0;
}

.container {
  overflow: hidden;
  margin-top: -70px;
  height: 400px;
}

.hero-text {
  position: absolute;
  transform: translate(-47%, -60%);
}

.hero-text h1 {
  color: #fff;
  font-size: 47px;
  -webkit-text-stroke: 1px #252c35;
}

.chooseticket {
  position: absolute;
  transform: translate(0%, 50%);
  padding: 2rem 1rem;
  background: #fff;
  border-radius: 13px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
  background: #fff;
}

.jarakbox {
  margin-right: 8px;
}

.radio {
  color: #252c35;
  margin-top: -20px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.grid-item {
  padding: 20px;
  text-align: center;
  color: #252c35;
}

.grid-item p {
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
}

.smallLabel {
  text-align: right;
  font-size: 12px;
  margin-right: 16px;
  color: #898989;
  margin-top: -20px;
}

.incredecre {
  display: 'inline-block';
  float: right;
}

.departreturn {
  width: 200px;
}

/* .MuiPaper-root {
  width: 700px;
  height: 298px;
} */

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 170px;
  }

  .planeLP {
    position: absolute;
    height: 110%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .hero-text {
    position: none;
    transform: translate(0%, -50%);
  }

  .hero-text h1 {
    font-size: 38px;
    margin-top: -85px;
  }

  .chooseticket {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -50px;
  }

  .jarakbox,
  .departreturn {
    margin-top: 10px;
    width: 150px;
  }

  .incredecre {
    float: none;
    display: inline-block;
    transform: translate(0%, 25%);
  }

  .smallLabel {
    display: none;
  }

  .departreturn {
    width: 100px;
  }

  /* .MuiPaper-root {
    width: 300px;
    height: 320px;
  } */
}

@media screen and (max-width: 425px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 100px;
  }

  .hero-text h1 {
    display: none;
  }

  .container {
    margin-top: 0px;
  }

  .planeLP {
    /* width: 200%;
    height: 100%;
    object-fit: fill; */
    position: absolute;
    height: 110%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .chooseticket {
    display: grid;
    grid-template-columns: auto;
    transform: translate(0%, 20%);
    padding-left: 30px;
    padding-right: 30px;
  }

  .jarakbox,
  .incredecre {
    margin-top: 10px;
    width: 200px;
  }

  .departreturn {
    margin-top: 13px;
    width: 200px;
  }

  .grid-item img {
    width: 200px;
  }

  .grid-item h2 {
    font-size: 15px;
  }

  .grid-item p {
    font-size: 12px;
  }

  .smallLabel {
    display: block;
    transform: translate(-22%, 1305%);
  }

  .incredecre {
    transform: translate(20%, 35%);
  }

  .searchflight {
    margin-top: -10px;
    margin-left: 14px;
    margin-bottom: -15px;
  }

  .radio {
    margin-bottom: -5px;
  }

  /* .MuiPaper-root {
    width: 200px;
    height: 320px;
  } */
}
