.bg-hero-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  text-align: center;
  color: white;
}
