.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbarLogo {
  color: #252c35;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.navbarMenu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  align-items: center;
}

.nav-links-login {
  text-decoration: none;
  margin-right: 20px;
  color: #252c35;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.nav-links-regis {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  background-color: #252c35;
  border-radius: 13px;
  cursor: pointer;
  border: none;
}

.nav-links-login:hover {
  background-color: #465065;
  color: #fff;
  border-radius: 13px;
  transition: 0.2s ease-in-out;
}

.nav-links-regis:hover {
  background-color: #465065;
  color: #fff;
  border-radius: 13px;
  transition: 0.2s ease-in-out;
}

.nav-links-logout {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  background-color: #252c35;
  border-radius: 13px;
  cursor: pointer;
  border: none;
}

.nav-links-logout:hover {
  background-color: #465065;
  color: #fff;
  border-radius: 13px;
  transition: 0.2s ease-in-out;
}

.notif {
  color: #252c35;
  margin-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.menu-icons {
  display: none;
}

.notifDetail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.notifBox {
  margin-left: -25px;
  margin-top: 40px;
}

@media screen and (max-width: 425px) {
  .navbarLogo {
    font-size: 27px;
  }

  .navbarMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 90px;
    left: -200%;
    align-items: stretch;
    padding: 20px 0 30px 0;
    text-align: center;
    z-index: -1;
  }

  .navbarMenu.active {
    left: 0;
  }

  .nav-links-login,
  .nav-links-regis,
  .nav-links-logout {
    width: 100%;
    padding: 1rem 20px;
    display: block;
  }

  .notif {
    padding-left: 0;
  }

  .nav-links-login,
  .nav-links-login:hover {
    padding: 10px 0 10px 0px;
    margin-left: 0;
  }

  .nav-links-regis,
  .nav-links-logout {
    padding: 10px 0 10px 0;
  }

  .nav-links-logout {
    margin-left: 0;
  }

  .menu-icons {
    display: block;
  }

  .notifBox {
    margin-left: 0px;
    margin-top: 40px;
  }
}
