.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbarLogo {
  color: #252C35;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.navbarMenu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  align-items: center;
}

.nav-links-login {
  text-decoration: none;
  margin-right: 20px;
  color: #252C35;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
  margin-left: 20px;
}

.nav-links-regis {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  background-color: #252C35;
  border-radius: 4px;
}

.nav-links-login:hover {
  background-color: #465065;
  color: #fff;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.nav-links-regis:hover {
  background-color: #465065;
  color: #fff;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.notif {
  color: #252C35;
  margin-top: 10px;
  padding-left: 10px;
}