.searchTicket {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120vh;
}
.gridcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.onlyXs {
  display: none;
  font-size: 40px;
}

.route {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .onlyXs {
    display: block;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }
  .exceptXs {
    display: none;
  }
  .airlines {
    text-align: center;
  }
}
