.footer {
  padding: 2rem;
  background: #252C35 ;
  color: #fff;
}

.top {
  text-align: center;
}

.medsos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.medsos a {
  margin-left: 5px;
  margin-right: 5px;
}