.grid-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column !important;

  h1 {
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: 900;
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
  }
}
