.prof-head {
  color: white;
  letter-spacing: 5px;
}

.proficon {
  padding-right: 10px;
}

.flexbutton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
